/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
.wp-block-wcphl19-collection-inspector-controls {
	color: brown;
	background: #fec;
	border: 2px solid brown;
	padding: 1rem;
}
